* {
  background-color: #232536;
  font-family: "Jost", serif;
}



progress::-webkit-progress-bar {
  background-color: #ffffff;
  width: 100%;
  border: 1px solid black;
}

progress::-webkit-progress-value {
  background-color: #444CFC;
}


/* input - file */

input[type=file] {
  width: 100%;
  height: 100%;
}


input[type=file]::file-selector-button {
  border: none;
  padding: .2em .4em;
  background-color: #FFA155;
  color: white;
  transition: 0.05s;
  width: 200px;
  height: 60px;
}



input[type=file]::file-selector-button:active {
  transform: scale(1.03);
}

/* range */


input[type=range] {
  height: 100px;
}









/* select */


select option {
  font-size: 8px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}


